.more-button {
  padding: 10px 0;
  background: transparent;
  border: 1px solid #e8e8e8;
  outline: none;
  border-radius: 3px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  width: 320px;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.more-button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 575px) {
  .more-button {
    width: 80%;
  }
}
