.container {
  margin: 0 auto;
}

.container_pages_all {
  width: 89%;
  max-width: 1140px;
}

.container_pages_auth {
  width: 396px;
}

@media screen and (max-width: 768px) {
  .container_pages_all {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 575px) {
  .container_pages_all {
    width: calc(100% - 28px);
  }

  .container_pages_auth {
    width: 81%;
  }
}
